.services-wrapper {
  max-width: 1280px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-row-gap: 35px;
}
.services-wrapper .services-list {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 30px;
  line-height: 18px;
  font-family: 'Oswald', sans-serif;
  color: honeydew;
  background-color: #c79d9d;
}
.services-wrapper .services-list .services-list-title {
  height: auto;
  padding: 5px;
  background-color: #c97777;
  line-height: 50px;
  font-size: 50px;
}
.services-wrapper .services-list .services-list-items {
  display: inline;
  padding: 0;
  list-style: none;
}
.services-wrapper .services-list .services-list-items li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  background-color: #c97777;
  margin-top: 6px;
  padding: 6px;
}
.services-wrapper .services-list .services-list-items li .service {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
}
.services-wrapper .services-list .services-list-items li .service .service-name {
  font-size: 20px;
}
.services-wrapper .services-list .services-list-items li .service .service-deskription {
  padding-left: 10px;
}
.services-wrapper .services-list .services-list-items li .service .service-price {
  font-size: 15px;
}
.services-wrapper .services-list .services-list-items li:hover {
  background-color: #ce4e4e;
  transition-duration: 0.5s;
}
.services-wrapper .services-list .services-list-items li:before {
  padding-right: 10px;
  font-weight: bold;
  color: #C0C0C0;
  content: "\2714";
  transition-duration: 0.5s;
}
.services-wrapper .services-list .services-list-items li:hover:before {
  color: #337AB7;
  content: "\2714";
}
